.bingMapStyle{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}
.antd_cards{
    display: none;
    position: absolute;
}
.CesiumcardsClass{
    display: "none";
    position: "absolute" ;
    width: 240; 
}
.select_1{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}
.select_2{
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    z-index: 100;
    width: 200px;
}
.baiduButton{
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    width: 100px;
    z-index: 70;
}
.treeStyleBox{
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 70;
    width: 250px;
    /* height: 700px; */
    background-color: #787878C8;
    top: 24px;
    bottom: 104px;
    overflow-y: auto;
    overflow-x: hidden;
}
.treeStyle{
    margin-top: 20px;
    margin-left: 20px
}