.bingMapStyle {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}

.antd_cards {
    display: none;
    position: absolute;
}

.CesiumcardsClass {
    display: "none";
    position: "absolute";
    width: 240;
}

.select_1 {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}

.select_2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    z-index: 100;
    width: 200px;
}

.baiduButton {
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    width: 100px;
    z-index: 70;
}

.baiduButton2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 180px;
    width: 100px;
    z-index: 70;
}

.treeStyleBox {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 70;
    width: 250px;
    /* height: 700px; */
    background-color: #787878C8;
    top: 24px;
    bottom: 104px;
    overflow-y: auto;
    overflow-x: hidden;
}

.treeStyle {
    margin-top: 20px;
    margin-left: 20px
}

.dynamic-layer {
    /*重要*/
    display: none;
    user-select: none;
    /*禁止选中*/
    pointer-events: none;
    /*鼠标穿透*/
    /*重要*/
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 250px;
    z-index: 99999;
}

.dynamic-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 100px;
    bottom: 0;
    /* background:url("../images/line.png") */
}

.dynamic-main {
    display: none;
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 100px;
    /* background:url("../images/layer_border.png") no-repeat; */
    background-size: 100% 100%;
    color: white;
    padding: 20px 5px 5px 20px;
    font-size: 14px;
    user-select: text;
    pointer-events: auto;
}

.ysc-dynamic-layer .light {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}