.bingMapStyle{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}
.antd_cards{
    display: none;
    position: absolute;
}
.CesiumcardsClass{
    display: "none";
    position: "absolute" ;
    width: 240; 
}
.select_1{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    width: 200px;
}
.select_2{
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    z-index: 100;
    width: 200px;
}
.baiduButton{
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    width: 100px;
    z-index: 70;
}
.treeStyle{
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    z-index: 70;
    width: 187px;
    height: 700px;
    background-color: #787878C8
}